log/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
out/
.DS_Store

# Editor
.vscode/
.idea/

# OS
Thumbs.db

# Electron-builder artifacts
/dist_electron/
/release/
*.dmg
*.exe
*.AppImage
